*.cache
*.auto-save-list
elpa
transient
config.el
config.org.old
forge-database.sqlite
history
org-clock-save.el
projectile-bookmarks.eld
recentf
test.org
url/cookies
*~
/.lsp-session-v1
/elisp/*
/mspyls/*
smex-items
tramp
/url/*
abbrev_defs
.org-id-locations
bookmarks
cheatsheet.el
cheatsheetPerso.org
/eshell/*
\#*\#
.#.gitignore
/tutorial/English.tut
/.mc-lists.el
